h1 {
    outline: 1PX solid yellow;
    text-align: center;
}
img {
    outline: 1px solid blue;
    max-width: 100%;
}
p {
    outline: 1px solid rgb(149, 218, 59);
}
.caja{
    /* outline: 1px solid red; */
    width: 420px;
    padding: 15px;
    border: 1px solid #999;
    box-sizing: border-box;
    margin-left: 8px;
    float: left;
}